@import "tailwindcss";

@theme {
  --font-sans: "Mona Sans Variable", sans-serif;
}

@layer base {
  html {
    font-size: 20px;
    scroll-behavior: smooth;
  }
  body {
    font-weight: 500;
    @apply text-gray-800 bg-gray-50;
  }
  a {
    @apply underline;
  }
}

@layer components {
  .nav-item {
    @apply flex items-center gap-4 no-underline;
  }

  html:has(#about:target) a[href="#about"] .nav-text,
  html:has(#experience:target) a[href="#experience"] .nav-text,
  html:has(#projects:target) a[href="#projects"] .nav-text {
    @apply text-orange-600;
  }
  .tag-list {
    @apply mt-3 flex flex-wrap gap-x-4 gap-y-1;
  }

  .tag {
    @apply flex items-center gap-1.5 py-1 text-xs text-orange-600
      before:block before:size-1.5 before:shrink-0 before:rounded-full before:bg-orange-600;
  }

  .cv-row {
    @apply flex gap-1 sm:flex-row sm:gap-8;
  }

  .cv-date {
    @apply mt-1 shrink-0 text-xs uppercase sm:w-32;
  }

  .cv-desc {
    @apply mt-2 text-sm;
  }

  .cv-section {
    @apply mb-16 scroll-mt-16 lg:mb-12 lg:scroll-mt-24;
  }

  .cv-section-heading {
    @apply mb-4 text-sm font-bold uppercase tracking-widest;
  }

  .cv-employer {
    @apply text-gray-500;
  }

  .project-link {
    @apply text-sm;
  }

  .ext-link {
    @apply inline-flex items-center gap-1;
  }
}
